@model CactusDepot.Shared.Models.Seeds.CactusSeed

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent1CatalogNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent1CatalogNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent2CatalogNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent2CatalogNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedCollectedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedCollectedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedSeedsQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedSeedsQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedCatalogNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedCatalogNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedLastSowedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedLastSowedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeedRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeedRating)
        </dd>
    </dl>
    
    <form asp-action="DeletePhoto">
        <input type="hidden" asp-for="SeedId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>

<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>
</div>
